/* Cores principais */
:root {
  --primary-color: #4285F4;
  --secondary-color: #225b79;
}


.criar-servico-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-family: sans-serif;
  margin-top: 120px !important;
  margin-bottom: 160px !important;
}

.criar-servico-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.criar-servico-input,
.criar-servico-textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
}

.criar-servico-textarea {
  height: 100px;
  resize: none;
}

.criar-servico-upload {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
}

.criar-servico-preview {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.criar-servico-button {
  background-color: var(--primary-color);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.criar-servico-button:hover {
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .criar-servico-container {
    margin: 20px 10px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .criar-servico-title {
    font-size: 20px;
  }
}

/* Spinner moderno */
.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid #2f6bd1;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/*Mobnile*/
@media (max-width:720px){
  .criar-servico-container{
    padding: 0.8rem !important;
  }
  .criar-servico-container h2{
    margin-bottom: 1rem !important;
  }
  .criar-servico-container input{
    padding: 0.5rem !important;
    margin-bottom: 1rem !important;
  }
  .criar-servico-container textarea{
    padding: 0.7rem !important;
    margin-bottom: 1rem !important;
  }
  .criar-servico-preview{
    padding: 0.5rem !important;
  }
  .criar-servico-button{
    padding: 0.5rem !important;
  }
  .criar-servico-upload{
    padding: 0.5rem !important;
  }
}