.paginacao {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

.paginacao button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}

.paginacao button.ativo {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
}

.paginacao button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.btn-excluir{
    background-color: rgb(224, 121, 60) !important;
}